<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
</head>
<body>
    <div class="outer_div">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/eng">English to Kashmiri</a></li>
            <li><a href="/kash">Kashmiri to English</a></li>
        </ul>
        <div class="inner_div" style="padding:20px;">
            <h1>Welcome to Kashmiri Translator!</h1>
            <p>Choose your translation direction:</p>
            <ul>
                <li><a href="/eng">English to Kashmiri</a></li>
                <li><a href="/kash">Kashmiri to English</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
